$columns: 12;
$gutter: 15px;

@function grid-width($cols, $has-gutter: false) {

  @if $has-gutter {
    @return calc(((100% / #{$columns}) * #{$cols}) - #{$gutter});  
  }@else {
    @return calc((100% / #{$columns}) * #{$cols});
  }
}
body{background: #fff;}
.container {
  width: 100%;
  margin: 0 auto;
  clear: both;
  overflow: auto;

}

.header {
  background-color: teal;
  float: left;
  margin: $gutter/2 $gutter/2;
  height: 150px!important;
  &--12 {
    width: grid-width(12,true);
  }
}
.nav {
  background-color: teal;
  float: left;
  margin: $gutter/2 $gutter/2;
  height: 50px!important;
  &--12 {
    width: grid-width(12,true);
  }
}

.card {
  height: 200px;
  background-color: teal;
  float: left;
  margin: $gutter/2 $gutter/2;
 
  
  &--3 {
    width: grid-width(3,true);
      @media (max-width: 999px) {
      width: grid-width(6,true);
    }
    @media (max-width: 760px) {
      width: grid-width(12,true);
    }
  }

}
.footer {
  background-color: teal;
  float: left;
  margin: $gutter/2 $gutter/2;
  height: 50px!important;
  &--12 {
    width: grid-width(12,true);
  }
}


